<f:validation.results for="contact">

    <f:form action="send" package="PlusB.AjaxForm" controller="Form" format="html" name="contact" object="{contact}"
            enctype="multipart/form-data" method="post" id="plusb-ajax-contact-form" absolute="TRUE">

        <fieldset>

            <div class="ajax-loader"></div>

            <div class="form-element form-element--leftfloat ">

                <f:if condition="{validationResults.flattenedErrors.name}">
                    <ul>
                        <f:for each="{validationResults.flattenedErrors.name}" as="error">
                            <li>{error -> f:translate(id: error.code, arguments: error.arguments, package: 'TYPO3.Flow',
                                source: 'ValidationErrors')}
                            </li>
                        </f:for>
                    </ul>
                </f:if>

                <f:form.textfield property="name"/>
            </div>

            <div class="form-element form-element--leftfloat ">

                <f:if condition="{validationResults.flattenedErrors.organisation}">
                    <ul>
                        <f:for each="{validationResults.flattenedErrors.organisation}" as="error">
                            <li>{error -> f:translate(id: error.code, arguments: error.arguments, package: 'TYPO3.Flow',
                                source: 'ValidationErrors')}
                            </li>
                        </f:for>
                    </ul>
                </f:if>

                <f:form.textfield property="organisation"/>
            </div>

            <div class="form-element form-element--leftfloat ">

                <f:if condition="{validationResults.flattenedErrors.email}">
                    <ul>
                        <f:for each="{validationResults.flattenedErrors.email}" as="error">
                            <li>{error -> f:translate(id: error.code, arguments: error.arguments, package: 'TYPO3.Flow',
                                source: 'ValidationErrors')}
                            </li>
                        </f:for>
                    </ul>
                </f:if>

                <f:form.textfield property="email"/>
            </div>

            <div class="form-element form-element--position-right">

                <f:if condition="{validationResults.flattenedErrors.message}">
                    <ul>
                        <f:for each="{validationResults.flattenedErrors.message}" as="error">
                            <li>{error -> f:translate(id: error.code, arguments: error.arguments, package: 'TYPO3.Flow',
                                source: 'ValidationErrors')}
                            </li>
                        </f:for>
                    </ul>
                </f:if>

                <f:form.textarea property="message" class="xxlarge" id="contact-form-message"/>
            </div>

        </fieldset>


        <div class="actions">
            <f:form.submit name="send" value="Abschicken"/>
        </div>

    </f:form>

</f:validation.results>

