.ajax-loader {
    background: #ffffff url("../Images/ajax-loader.gif") center center no-repeat;
    display: none;
    height: 32px;
    width: 32px;
    float: right;
}

#plusb-ajax-contact-form.loading .ajax-loader {
    display: block;
}